{
    "openapi": "3.0.0",
    "info": {
        "description": "The REST API for Content Management provides access to manage assets in Oracle Content and Experience Cloud. Assets include content items and digital assets and their renditions.\n",
        "version": "2020.04.03",
        "title": "REST API for Content Management",
        "x-summary": "The REST API for Content Management provides access to manage assets in Oracle Content and Experience Cloud.",
        "x-vb": {
            "serviceType": "openapi",
            "sourceUrl": "https://docs.oracle.com/en/cloud/paas/content-cloud/rest-api-manage-content/swagger.json"
        }
    },
    "servers": [
        {
            "url": "https://docs.oracle.com/content",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "oauth2_user_assertion",
                        "scope": "https://26629BEC35A1421D9D14C82B0E4F2936.cec.ocp.oraclecloud.com:443/urn:opc:cec:all"
                    }
                },
                "forceProxy": "cors"
            }
        }
    ],
    "paths": {
        "/management/api/v1.1/assets/{id}/native": {
            "get": {
                "tags": [
                    "Digital Item Renditions"
                ],
                "summary": "Get Digital Item Native File",
                "description": "Get original uploaded file of a digital item. Content-type header in the response is set to the correct value for the file type.",
                "operationId": "getNativeManagement",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "By default, for files of type image, audio and video are rendered inline. For all other file types are downloaded. User can specify the query parameter download=true/false in a request to override this default.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "asOf",
                        "in": "query",
                        "description": "This parameter describes a specific item revision. Currently it only supports this value, <i>latestPublished</i>, which means the latest published version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/octet-stream": {},
                            "application/json": {}
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-assets-{id}-native-get",
                "x-filename-id": "management-api-v1.1-assets-id-native-get"
            }
        },
        "/management/api/v1.1/assets/{id}/native/{filename}": {
            "get": {
                "tags": [
                    "Digital Item Renditions"
                ],
                "summary": "Get Digital Item Native File with Filename",
                "description": "Get original uploaded file of a digital item. Content-type header in the response is set to the correct value for the file type.",
                "operationId": "getNativeManagementWithFileName",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filename",
                        "in": "path",
                        "description": "Name of the digital item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "By default, for files of type image, audio and video are rendered inline. For all other file types are downloaded. User can specify the query parameter download=true/false in a request to override this default.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "asOf",
                        "in": "query",
                        "description": "This parameter describes a specific item revision. Currently it only supports this value, <i>latestPublished</i>, which means the latest published version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/octet-stream": {},
                            "application/json": {}
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-assets-{id}-native-{filename}-get",
                "x-filename-id": "management-api-v1.1-assets-id-native-filename-get"
            }
        },
        "/management/api/v1.1/assets/{id}/versions/{version}/{rendition}/{filename}": {
            "get": {
                "tags": [
                    "Digital Item Renditions"
                ],
                "summary": "Get Rendition of a Digital Item with Filename",
                "description": "Get a specific rendition of the digital item. Content-type header in the response is set to the correct value for the file type.",
                "operationId": "getManagementRenditionWithFileName",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rendition",
                        "in": "path",
                        "description": "Rendition name of the digital item.",
                        "required": true,
                        "x-example": "ImageSmall",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of an item revision",
                        "required": true,
                        "x-example": "1.005",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filename",
                        "in": "path",
                        "description": "Name of the digital item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Format of the digital item's rendition file. When the rendition has only one format, the format query parameter may be omitted.",
                        "required": false,
                        "x-example": "jpg",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Rendition type of the digital item.",
                        "required": false,
                        "x-example": "responsiveimage",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "By default, for files of type image, audio and video are rendered inline. For all other file types are downloaded. User can specify the query parameter download=true/false in a request to override this default.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/octet-stream": {},
                            "application/json": {}
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-assets-{id}-versions-{version}-{rendition}-{filename}-get",
                "x-filename-id": "management-api-v1.1-assets-id-versions-version-rendition-filename-get"
            }
        },
        "/management/api/v1.1/assets/{id}/{rendition}": {
            "get": {
                "tags": [
                    "Digital Item Renditions"
                ],
                "summary": "Get Rendition of a Digital Item",
                "description": "Get a specific rendition of the digital item. Content-type header in the response is set to the correct value for the file type.",
                "operationId": "getManagementRendition",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rendition",
                        "in": "path",
                        "description": "Rendition name of the digital item.",
                        "required": true,
                        "x-example": "ImageSmall",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Format of the digital item's rendition file. When the rendition has only one format, the format query parameter may be omitted.",
                        "required": false,
                        "x-example": "jpg",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Rendition type of the digital item.",
                        "required": false,
                        "x-example": "responsiveimage",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "By default, for files of type image, audio and video are rendered inline. For all other file types are downloaded. User can specify the query parameter download=true/false in a request to override this default.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "asOf",
                        "in": "query",
                        "description": "This parameter describes a specific item revision. Currently it only supports this value, <i>latestPublished</i>, which means the latest published version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/octet-stream": {},
                            "application/json": {}
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-assets-{id}-{rendition}-get",
                "x-filename-id": "management-api-v1.1-assets-id-rendition-get"
            }
        },
        "/management/api/v1.1/assets/{id}/{rendition}/{filename}": {
            "get": {
                "tags": [
                    "Digital Item Renditions"
                ],
                "summary": "Get Rendition of a Digital Item with Filename",
                "description": "Get a specific rendition of the digital item. Content-type header in the response is set to the correct value for the file type.",
                "operationId": "getManagementRenditionWithFileName_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rendition",
                        "in": "path",
                        "description": "Rendition name of the digital item.",
                        "required": true,
                        "x-example": "ImageSmall",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filename",
                        "in": "path",
                        "description": "Name of the digital item.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Format of the digital item's rendition file. When the rendition has only one format, the format query parameter may be omitted.",
                        "required": false,
                        "x-example": "jpg",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Rendition type of the digital item.",
                        "required": false,
                        "x-example": "responsiveimage",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "By default, for files of type image, audio and video are rendered inline. For all other file types are downloaded. User can specify the query parameter download=true/false in a request to override this default.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "asOf",
                        "in": "query",
                        "description": "This parameter describes a specific item revision. Currently it only supports this value, <i>latestPublished</i>, which means the latest published version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/octet-stream": {},
                            "application/json": {}
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-assets-{id}-{rendition}-{filename}-get",
                "x-filename-id": "management-api-v1.1-assets-id-rendition-filename-get"
            }
        },
        "/management/api/v1.1/bulkItemsOperations": {
            "post": {
                "requestBody": {
                    "description": "Details of the bulk items operations.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkItemsOperations"
                            }
                        }
                    }
                },
                "tags": [
                    "Items Bulk Operations"
                ],
                "summary": "Performs Bulk Items Operations",
                "description": "Performs bulk items operations with given payload.",
                "operationId": "itemsBulkUpdate",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "This parameter is used to control the interaction type (synchronous/asynchronous) of the request. If the header is provided with value respond-async, it indicates that asynchronous interaction is preferred. Otherwise, synchronous interaction is preferred. Asynchronous request is responded with 202 status with a status link in the location header. Synchronous request is responded with 200 along with response body.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkItemsOperations"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "409": {
                        "description": "The requested resource operation is temporarily unavailable"
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-bulkItemsOperations-post",
                "x-filename-id": "management-api-v1.1-bulkitemsoperations-post"
            }
        },
        "/management/api/v1.1/bulkItemsOperations/publish/{statusId}/ids": {
            "get": {
                "tags": [
                    "Items Bulk Operations"
                ],
                "summary": "Read Items Bulk Operations Publish Item ids",
                "operationId": "getBulkUpdatePublishJobItemIds",
                "parameters": [
                    {
                        "name": "statusId",
                        "in": "path",
                        "description": "status id of the bulk items publish operation.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>, <i>first</i>, <i>last</i>, <i>prev</i>, <i>next</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the start index of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the size of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "This parameter accepts a boolean flag. If specified as <b>true</b>, then the returned result must include the total result count.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublishItemIds"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-bulkItemsOperations-publish-{statusId}-ids-get",
                "x-filename-id": "management-api-v1.1-bulkitemsoperations-publish-statusid-ids-get"
            }
        },
        "/management/api/v1.1/bulkItemsOperations/{statusId}": {
            "get": {
                "tags": [
                    "Items Bulk Operations"
                ],
                "summary": "Read Items Bulk Operations Status",
                "description": "Read Items Bulk Operations status.",
                "operationId": "getBulkUpdateJobStatus",
                "parameters": [
                    {
                        "name": "statusId",
                        "in": "path",
                        "description": "status id of the bulk items operations.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkItemsOperationsStatus"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-bulkItemsOperations-{statusId}-get",
                "x-filename-id": "management-api-v1.1-bulkitemsoperations-statusid-get"
            }
        },
        "/management/api/v1.1/channels": {
            "get": {
                "tags": [
                    "Channels"
                ],
                "summary": "List All Channels",
                "description": "List all channels.",
                "operationId": "listChannels",
                "parameters": [
                    {
                        "name": "roleName",
                        "in": "query",
                        "description": "This parameter is used to filter the returned channels with the given role name. This parameter is optional in the query and by default all the channels are returned.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "viewer",
                                "contributor",
                                "manager"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This parameter accepts a query expression condition that matches the field values. The value of query condition follows the format of <i><b>{fieldName} {operator} \"{fieldValue}\"</b></i>. The only fieldNames allowed for now are <i><b>roleName</b></i>, <i><b>repositoryId</b></i> and <i><b>name</b></i> and only allowed operators for now are <i><b>co</b></i> on <i><b>name</b></i> and <i><b>eq</b></i> on the others. This query param is optional and defaults to <i><b>roleName eq \"viewer\"</b></i> which filters the resources with at least given role. <i><b>name</b></i> is interpreted in the context of the resource being requested. For eg. name for content types implies content type name.<br><b>Example</b>:<br> ?q=roleName eq \"manager\")",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "roleName eq \"viewer\""
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter is used to control the returned fields in each channel in the list. This parameter accepts a comma-separated list of field names or <i>all</i>. These fields will be returned for each channel in the list. All the field names are case-sensitive, and users must provide the correct field names in the query. Each channel has both standard fields (<i>id</i>, <i>name</i>, <i>description</i>, <i>createdBy</i>, <i>createdDate</i>, <i>updatedBy</i>, <i>updatedDate</i>, <i>isSiteChannel</i>) and additional fields (<i>channelType</i>, <i>publishPolicy</i>, <i>localizationPolicy</i>, <i>channelTokens</i>). When <i>fields</i> is specified as <i>all</i> (case-insensitive), all the standard and additional fields are returned. The standard fields are always returned in the response and cannot be filtered out. The user can filter out only the additional fields. This parameter is optional in the query, and by default the result shows only standard fields in the response. Any incorrect or invalid field name given in the query will throw an error. <br><br> <b>Example</b>: <i>?fields=channelTokens,localizationPolicy</i> <br> This returns all standard fields along with the <i>channelTokens</i> and <i>localizationPolicy</i> additional fields for each channel.<br> <b>Example</b>: <i>?fields=all</i> <br> This will return all standard fields and all additional fields for each channel. <br> ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the start index of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the size of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter is used to control the order of results. The value of this query parameter follows the format of <i> fieldName:[asc/desc]</i>. <i>asc</i> stands for ascending order  <i>desc</i> stands for descending order, default order is <i>asc</i>. The only field names allowed are <b>name</b> and <b>updatedDate</b>.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "name:asc"
                        }
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "This parameter accepts a boolean flag. If specified as <b>true</b>, then the returned result must include the total result count.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>, <i>first</i>, <i>last</i>, <i>prev</i>, <i>next</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Channels"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-get",
                "x-filename-id": "management-api-v1.1-channels-get"
            },
            "post": {
                "requestBody": {
                    "description": "Creates a channel with the given information in the payload. The fields <i>id, createdBy, createdDate, updatedBy, updatedDate, channelTokens, isSiteChannel</i> and <i>links</i> will be ignored even if given in the payload.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Channel"
                            }
                        }
                    }
                },
                "tags": [
                    "Channels"
                ],
                "summary": "Create a Channel",
                "description": "Creates a channel with the given payload.",
                "operationId": "createChannel",
                "parameters": [
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Channel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "409": {
                        "description": "Conflict."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-post",
                "x-filename-id": "management-api-v1.1-channels-post"
            }
        },
        "/management/api/v1.1/channels/{id}": {
            "get": {
                "tags": [
                    "Channels"
                ],
                "summary": "Read a Channel",
                "description": "Read a channel.",
                "operationId": "getChannel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the channel.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Channel"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-get",
                "x-filename-id": "management-api-v1.1-channels-id-get"
            },
            "put": {
                "requestBody": {
                    "description": "Updates a channel with the given information in the payload. The fields <i>createdBy, createdDate, updatedBy, updatedDate, channelTokens, isSiteChannel</i>and <i>links</i> will be ignored even if given in the payload. This payload is optional if the endpoint is being used to refresh the channel token.",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Channel"
                            }
                        }
                    }
                },
                "tags": [
                    "Channels"
                ],
                "summary": "Update a Channel",
                "description": "Updates a channel with the given payload. Can also be used to refresh the channel token.",
                "operationId": "updateChannel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the channel.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "refreshTokens",
                        "in": "query",
                        "description": "Refresh Token",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Channel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-put",
                "x-filename-id": "management-api-v1.1-channels-id-put"
            },
            "delete": {
                "tags": [
                    "Channels"
                ],
                "summary": "Delete a Channel",
                "description": "Deletes a channel.",
                "operationId": "deleteChannel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the channel.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-delete",
                "x-filename-id": "management-api-v1.1-channels-id-delete"
            }
        },
        "/management/api/v1.1/channels/{id}/channelSecret": {
            "post": {
                "tags": [
                    "Channel Secret"
                ],
                "summary": "Generate a channel secret",
                "description": "Generate a secret for given channel",
                "operationId": "createChannelSecret",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Generates a secret for the given channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChannelSecretService"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-channelSecret-post",
                "x-filename-id": "management-api-v1.1-channels-id-channelsecret-post"
            },
            "put": {
                "tags": [
                    "Channel Secret"
                ],
                "summary": "Refresh channel secret",
                "description": "Refresh secret for given channel",
                "operationId": "refreshChannelSecret",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Refreshes secret for the given channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChannelSecretService"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-channelSecret-put",
                "x-filename-id": "management-api-v1.1-channels-id-channelsecret-put"
            },
            "delete": {
                "tags": [
                    "Channel Secret"
                ],
                "summary": "Delete the channel secret",
                "description": "Delete the secret of a given channel",
                "operationId": "deleteSecretKey",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Deletes the secret for the given channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-channelSecret-delete",
                "x-filename-id": "management-api-v1.1-channels-id-channelsecret-delete"
            }
        },
        "/management/api/v1.1/channels/{id}/oauthToken": {
            "post": {
                "requestBody": {
                    "description": "Channel Secret of the channel to generate OAuth Token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChannelSecret"
                            }
                        }
                    }
                },
                "tags": [
                    "OAuth Tokens"
                ],
                "summary": "Generate an OAuth Token",
                "description": "for given channel",
                "operationId": "createToken",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Generates an OAuth token for the given channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Requested-With",
                        "in": "header",
                        "description": "A custom header to mitigate CSRF attacks.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XMLHttpRequest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-oauthToken-post",
                "x-filename-id": "management-api-v1.1-channels-id-oauthtoken-post"
            }
        },
        "/management/api/v1.1/channels/{id}/permissions": {
            "get": {
                "tags": [
                    "Channels"
                ],
                "summary": "List All Permissions on a Channel",
                "description": "List all permissions on a channel.",
                "operationId": "listChannelPermissions",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the channel.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the start index of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the size of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "This parameter accepts a boolean flag. If specified as <b>true</b>, then the returned result must include the total result count.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>, <i>first</i>, <i>last</i>, <i>prev</i>, <i>next</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourcePermissions"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-channels-{id}-permissions-get",
                "x-filename-id": "management-api-v1.1-channels-id-permissions-get"
            }
        },
        "/management/api/v1.1/connectors": {
            "get": {
                "tags": [
                    "Connectors"
                ],
                "summary": "List All Connectors",
                "description": "List all connectors.",
                "operationId": "getConnectors",
                "parameters": [
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>, <i>first</i>, <i>last</i>, <i>prev</i>, <i>next</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the start index of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the size of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "This parameter accepts a boolean flag. If specified as <b>true</b>, then the returned result must include the total result count.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This parameter accepts a query expression condition that matches the field values. The value of query condition follows the format of <i><b>{fieldName} {operator} \"{fieldValue}\"</b></i>. The only fieldNames allowed for now are <i><b>name</b></i> and <i><b>connectorType</b></i> and only allowed operators for now are <i><b>co</b></i> on <i><b>name</b></i> and <i><b>eq</b></i> on <i><b>connectorType</b></i>. This query param is optional with no default.<br><b>Example</b>:<br> ?q=name co \"foo\")<br><b>Example</b>:<br> ?q=connectorType eq \"translation\")<br><b>Example</b>:<br> ?q=connectorType eq \"content\")",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Connectors"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-connectors-get",
                "x-filename-id": "management-api-v1.1-connectors-get"
            }
        },
        "/management/api/v1.1/dataTypes": {
            "get": {
                "tags": [
                    "Types"
                ],
                "summary": "List All Data Types",
                "description": "List information of all the data types.",
                "operationId": "listDataTypes",
                "parameters": [
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTypes"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not modified."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "x-internal-id": "management-api-v1.1-dataTypes-get",
                "x-filename-id": "management-api-v1.1-datatypes-get"
            }
        },
        "/management/api/v1.1/items": {
            "get": {
                "tags": [
                    "Items Search"
                ],
                "summary": "Query Items",
                "description": "This resource enables filtering of management content by query. You can control the number of items to be fetched, paginated, and sorted. Additionally, this resource can fetch field values of matching items.<br>Query expression syntax supports conditions that match the field values. A NOT operator is supported and negates the results of matches it applies to - e.g. NOT (type eq \"Type1\"). Note that the space between the NOT and the following opening brace is required. You can also query across all fields for a specific phrase. Many such query conditions can be joined by using AND/OR operators and grouped with parentheses.<br><br><table><tr><td>Query expression</td><td> <i>?q=(type eq \"Employee\" AND (fields.emails co \"example.com\" OR fields.emails co \"example.org\")) </i> </td></tr><tr><td>Query expression usage with this resource</td><td> <i>/management/api/v1.1/items?q=(type eq \"Employee\" AND (fields.emails co \"example.com\" OR fields.emails co \"example.org\")) </i> </td></tr></table><br> <i>Notes: </i> Field names used in the Query are case-sensitive. <br><br> In general, two forms of filtering are supported by this resource.<br><ul><li><b>Query within a type: </b> Query within a type allows query conditions that apply to fields of the type. <br><b>For example:</b><br><i>/management/api/v1.1/items?q=(type eq \"Employee\" AND fields.role eq \"Senior Developer\") </i><br>Here, role is a field of type Employee.</li><li><b>Query across types: </b> When no type is specified in the query, all types are queried. Also, multi type query is allowed and it comes under Global query. However, query conditions are limited to standard fields (<i>id</i>, <i>type</i>, <i>name</i>, <i>description</i>, <i>slug</i>, <i>translatable</i>, <i>language</i>, <i>createdBy</i>, <i>createdDate</i>, <i>updatedBy</i>, <i>updatedDate</i>, <i>repositoryId</i>, <i>channels</i>, <i>collections</i>, <i>status</i>, <i>tags</i>, <i>isPublished</i>, <i>languageIsMaster</i>, <i>taxonomies</i>) only. <br><b>For example: </b> <br><i> /management/api/v1.1/items?q=(name eq \"John\")</i> or <i>/management/api/v1.1/items?q=(description co \"users\")</i></li></ul><br> In either form, it is possible to search by matching anywhere (any field) by specifying a default match criteria. Such criteria are specified in a generic query that matches values of the items across all fields. <br><b>For example:</b><br><i>/management/api/v1.1/items?default=\"coffee\" </i><br><i>/management/api/v1.1/items?q=(type eq \"Employee\"&default=\"senior\") </i><br><br> In either form, while querying using standard fields, <i>name, description, type, slug, language, status</i> are to be considered as a <i>text</i> data type (single valued), <i>id</i>, <i>repositoryId</i> as a <i>reference</i> data type (single valued), <i>createdDate, updatedDate</i> as a <i>datetime</i> data type (single valued), <i>translatable, isPublished, languageIsMaster</i> as a boolean data type (single valued) and <i>collections</i>, <i>channels</i>, <i>tags</i>, <i>taxonomies</i>, <i>suggestedTaxonomies</i> as a reference data type (multi valued)</li></ul><br><br><table border=1><tr><th align=\"left\">Operator</th><th align=\"left\">Example</th><th align=\"left\">Supported data types</th><th align=\"left\">Description</th></tr><tr><td>eq</td><td>?q=(name eq \"John\")<br><br>?q=(type eq \"DigitalAsset\")<br><br>?q=(type eq \"Employee\" and fields.DOB eq \"1994/09/26T16:23:45.208\")<br><br>?q=(taxonomies.categories.id eq \"B9F568DC43C54803AC76012783FA5101\")<br><br>?q=(taxonomies.categories.name eq \"cars\")<br><br>?q=(taxonomies.categories.apiName eq \"cars-unique\")<br><br>?q=(taxonomies.categories.nodes.id eq \"B9F568DC43C54803AC76012783FA5101\")<br><br>?q=(taxonomies.categories.nodes.name eq \"cars\")<br><br>?q=(taxonomies.categories.nodes.apiName eq \"cars\")<br/><br/>?q=(suggestedTaxonomies.categories.id eq \"B9F568DC43C54803AC76012783FA5101\")</td><td><i>text, reference, number, decimal, boolean, datetime.</i></td><td>Equals operator (eq) matches the exact value supplied in the query. This operator is not applicable to multivalued data types. The value provided with this operator is not case-sensitive except for standard fields. This operator considers even special characters in the value.</td></tr><tr><td>ne</td><td>?q=(name ne \"John\")</td><td><i>text, reference, number, decimal, boolean, datetime.</i></td><td>Not Equals operator (ne) matches items that do not match the exact value supplied in the query. This operator is not applicable to multivalued data types. The value provided with this operator is not case-sensitive except for standard fields. This operator considers even special characters in the value.</td></tr><tr><td>co</td><td>?q=(type eq \"Employee\" AND name co \"john alex\")<br><br>?q=(type eq \"Car\" AND fields.features co \"manual\")<br><br>?q=(taxonomies.categories.name co \"red\")<br><br>?q=(taxonomies.categories.nodes.name co \"car\")</td><td><i>text, reference, number, decimal, datetime, largetext</i></td><td>Contains operator (co) matches every word given in the criteria. The words are formed by splitting the value by special characters.  It gives the results that have at least one of the words (in this example, john or alex or both). This operator does not consider special characters in the value while searching. This operator does not perform a search on stop words. Refer to Apache Lucene documentation to know more about stop words. <br><br>This operator is applicable to <i>text, largetext</i> in case of single-valued attributes, whereas for multivalued attributes, it is applicable to <i>text, reference, number, decimal, datetime, largetext</i>. To understand the possible datetime formats, refer to the <i>Supported date/datetime formats (24Hrs)</i> table below. The value provided with this operator is not case-sensitive.</td></tr><tr><td>nc</td><td>?q=(name nc \"john alex\")</td><td><i>text, reference, number, decimal, datetime, largetext</i></td><td>Not Contains operator (nc) matches items that would not match a co operator with the same criteria. This operator is not applicable to multivalued data types.</td></tr><tr><td>sw</td><td>?q=(type eq \"Employee\" AND name sw \"Joh\")<br><br>?q=(type eq \"Employee\" AND fields.city sw \"Los\")<br><br>?q=(taxonomies.categories.name sw \"cat\")<br><br>?q=(taxonomies.categories.nodes.name sw \"red\")</td><td><i>text</i></td><td>Starts With operator (sw) matches only the initial character values given in the field condition. This operator is not applicable to multivalued data types. The value provided with this operator is not case-sensitive.</td></tr><tr><td>ge</td><td>?q=(type eq \"Employee\" AND fields.age ge \"40\")<br><br>?q=(type eq \"DigitalAsset\" AND updatedDate ge \"20171026\")</td><td><i>number, decimal, datetime</i></td><td>Greater than or equal to operator (ge) matches only numeric and datetime values. To understand the possible datetime formats, refer to the <i>Supported date/datetime formats (24Hrs)</i> table below. This operator is not applicable to multivalued data types.</td></tr><tr><td>le</td><td>?q=(type eq \"Employee\" AND fields.weight le \"60.6\")</td><td><i>number, decimal, datetime</i></td><td>Less than or equal to operator (le) matches only numeric and datetime values. To understand the possible datetime formats, refer to the <i>Supported date/datetime formats (24Hrs)</i> table below. This operator is not applicable to multivalued data types.</td></tr><tr><td>gt</td><td>?q=(type eq \"Employee\" AND fields.age gt \"20\")</td><td><i>number, decimal, datetime</i></td><td>Greater than operator (gt) matches only numeric and datetime values. To understand the possible datetime formats, refer to the <i>Supported date/datetime formats (24Hrs)</i> table below. To understand the possible datetime formats, refer to the <i>Supported date/datetime formats (24Hrs)</i> table below. This operator is not applicable to multivalued data types.</td></tr><tr><td>lt</td><td>?q=(type eq \"Employee\" AND fields.age lt \"20\")<br><br>?q=(type eq \"Employee\" AND createdDate lt \"1994/09/26T16:23:45.208\")</td><td><i>number, decimal, datetime</i></td><td>Less than operator (lt) matches only numeric and datetime values. To understand the possible datetime formats, please refer to the section: <b>Supported date/datetime formats (24Hrs)</b>. This operator is not applicable to multivalued data types.</td></tr><tr><td>mt</td><td>?q=(type eq \"Car\" AND fields.review mt \"petrol 20KMPL\")<br><br>?q=(type eq \"Employee\" AND name mt \"Jo?n\")<br><br>?q=(type eq \"Employee\" AND name mt \"Jo*\")<br><br>?q=(type eq \"Employee\" AND fields.role mt \"senior*\")</td><td><i>text, largetext</i></td><td>Phrase query or proximity search (matches) operator (mt) enables you to find words that are within a specific distance to one another. Results are sorted by best match. It is useful for searching content items when values given in the criteria \"petrol 20kmpl\"  need to discover actual content that may contain \"<i>petrol</i> fuel mileage runs <i>20KMPL</i> in the speed way\". <br><br>Matches operator also can use a wildcard within the given value and supports both single-character and multiple-character wildcard searches within a single value. Use ? for a single-character wildcard and * for multiple characters. Both \"John\" and \"Joan\" can be searched by \"Jo?n\" for a single character and \"Jo*\" for multiple characters. <br><br>This operator is applicable to both single-valued and multivalued data types. This operator does not perform a search on stop words. Refer to Apache Lucene documentation to know more about stop words. The value provided with this operator is not case-sensitive.</td></tr><tr><td>sm</td><td>?q=(type eq \"Employee\" And fields.city sm \"Rome\")</td><td><i>text, largetext</i></td><td>Similarity query operator. This operator allows searching for values that sound like specified criteria - also called fuzzy search, which uses by default a maximum of two edits to match the result. \"Rome\" is similar to \"Dome\". This operator is applicable to both single-valued and multivalued data types. The value provided with this operator is not case-sensitive.</td></tr><tr><td>AND</td><td>?q=(type eq \"Employee\" AND name eq \"John\" AND fields.age ge \"40\")</td><td>-NA-</td><td>AND operator, can be used to put an AND condition between multiple query conditions. This takes precedence over OR.</td></tr><tr><td>OR</td><td>type eq \"Employee\" AND name eq \"John\" OR fields.age ge \"40\"</td><td>-NA-</td><td>OR operator can be used to put an OR condition between multiple query conditions.</td></tr><tr><td>( )</td><td>?q=(type eq \"Employee\" AND (name eq \"John\" AND fields.age ge \"40\"))<br><br>?q=(type eq \"Employee\" AND ( (name eq \"John\" AND fields.age ge \"40\") OR fields.weight ge 60))</td><td>-NA-</td><td>Parenthesis, enclosing operator to group the conditions in the criteria. This takes highest precedence, followed by AND, and then by OR.</td></tr></table> <br><br><table><tr><th colspan=\"2\">Additional Notes</th></tr><tr><td>Type specific query</td><td>This query always uses only the <i>eq</i> operator. <i>eq</i> works with case-sensitive type name. Multitype query is supported, such as q=(type eq \"Employee\" OR type eq \"Address\"), however, it will be query across types. <br> <b>Example:</b><br> q=(type eq \"Employee\" OR type eq \"DigitalAsset\") is supported because of single type search. </td></tr><tr><td>Date query</td><td>Date query is a special type of query because of various date formats associated with it. All the datetime values in the query are assumed to be in the UTC (timezone) only, unless the offset is added in ISO 8901 format. The query results will always be in UTC timezone format for all datetime fields. Fields with the datatype <i> datetime </i> should use the operators <i> ge, gt, le, lt</i> for range query and use <i>eq</i> for an equals match.<br><br> <b>Example:</b><br> Query Products by manufactureDate (<i>datetime</i>) field using the <i>ge</i> operator.<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(type eq \"Product\" AND fields.manufactureDate ge \"1989-03-26\"). The given date format is <i>YYYY-MM-DD</i>.<br><br>Explore more date/datetime specific query examples in the <b><a href=''#examples'' data-toggle=''ignore''>Examples</a></b> section and also to understand the accepted date/datetime formats in the section below (supported date/datetime formats). </td></tr><tr>\r\n<td>Decimal values</td>\r\n<td>Decimal number query is supported up to 3 digits after decimal points, and the rest of the digits after 3 will be ignored. https://{cecsdomain}/content/management/api/v1.1/items?q=(type eq \"Product\" AND fields.price ge 425.3214), will result in all the products where price is greater than or equal to 425.321.</td>\r\n</tr><tr><td>Large text datatype query</td><td>Fields with the datatype <i>largetext</i> are not stored, so the query result cannot return its value. But the field value can be used in a query condition.</tr><tr><td>Generic query search</td><td>Generic query search is a default search query, which can be used when the user can search by only value without using any field name or operators. Internally generic search uses the <i>co</i> operator. This query does not support wildcard characters. This search does not perform search on stop words. Refer to Apache Lucene documentation to know more about stop words.<br><b>Example:</b><br> ?q=(type eq \"Employee\")&fields=all&default=John. This will return the search results for the <i>Employee</i> type where the value <i>John</i> matches to field name , description or any user-defined fields.<br><b>Example:</b><br> ?q=(type eq \"Article\")&default=skating. This will return the search results for <i>Article</i> type where the value <i>skating</i> matches to fields name, description or any user-defined fields.</td></tr><tr><td>ID search</td><td>Search query using id attribute. <br> <b>Example:</b><br> ?q=(type eq \"Employee\" AND id eq \"COREAF29AC6ACA9644F9836E36C7B558F316\"). The value of id belongs to the item being queried itself, here the id of type Employee. <br> It is possible to include multiple item ids in the query expression <br> <b>Example:</b><br> ?q=(type eq \"Employee\" AND (id eq \"COREAF29AC6ACA9644F9836E36C7B558F316\" OR id eq \"COREAF29AC6ACA9644F9836E36C7B558F987\")).</td></tr><tr><td>Category search</td><td>Search items categorized with given category id, category name, category apiName, category node id, category node name or category node apiName attributes. <br> <b>Example:</b><br> ?q=(taxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\")<br>The value of <i>taxonomies.categories.id</i> belongs to the category assigned to items being queried. It is possible to include multiple category ids or names in the query expression. <br> <b>Example:</b><br> ?q=(taxonomies.categories.name co \"cars\" OR taxonomies.categories.name sw \"red\")<br> <b>Example:</b><br> ?q=(taxonomies.categories.apiName eq \"All-furnitures\")<br>The value of <i>taxonomies.categories.apiName</i> belongs to the category assigned to items being queried. It is possible to include multiple category apiName values in the query expression.<br> <b>Example:</b><br> ?q=(taxonomies.categories.nodes.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\")<br>The value of <i>taxonomies.categories.nodes.id</i> belongs to any node of categories assigned to items being queried. It is possible to include multiple category node ids or node names in the query expression.<br> <b>Example:</b><br> ?q=(taxonomies.categories.nodes.name co \"cars\" OR taxonomies.categories.nodes.name sw \"red\")<br> <b>Example:</b><br> ?q=(taxonomies.categories.nodes.apiName eq \"All-furnitures\" OR taxonomies.categories.nodes.apiName eq \"all-accessories\")<br>The value of <i>taxonomies.categories.nodes.apiName</i> belongs to any node of categories assigned to items being queried. It is possible to include multiple category node apiName values in the query expression.</td></tr><tr><td>Suggested Category search</td><td>Search items that could be categorized into a given category with category id, rejected status and language. Only one category id can be used for filtering at a time. <i>repositoryId</i> is mandatory when filtering on suggestedTaxonomy. Default status is NOT rejected. When no language is specified items from all languages are returned.<br/><br/> <b>Example:</b><br/> ?q=(repositoryId eq \"86E125F3D78B409EBF61737636599FE1\" AND suggestedTaxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\")<br/>Lists all the items from all languages that are suggested for the given category id for the given repository and not rejected.<br/> <b>Example:</b><br/> ?q=(repositoryId eq \"86E125F3D78B409EBF61737636599FE1\" AND suggestedTaxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\" AND suggestedTaxonomies.categories.isRejected eq \"false\")<br/>Lists all the items from all languages that are suggested for the given category id for the given repository and not rejected.<br/> <b>Example:</b><br/> ?q=(repositoryId eq \"86E125F3D78B409EBF61737636599FE1\" AND suggestedTaxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\" AND suggestedTaxonomies.categories.isRejected eq \"false\" AND language co \"en-US\")<br/>Lists all the items from the given language that are suggested for the given category id for the given repository.<br/> <b>Example:</b><br/> ?q=(repositoryId eq \"86E125F3D78B409EBF61737636599FE1\" AND suggestedTaxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\" AND suggestedTaxonomies.categories.isRejected eq \"true\" AND language co \"en-US\")<br/>Lists all the items from the given language that are previously rejected for the given category id for the given repository.</td></tr><tr><td>Reference field search</td><td>Search query using reference attribute. <br> <b>Example:</b><br> ?q=(type eq \"Employee\" AND fields.department eq \"COREAF29AC6ACA9644F9836E36C7B558F412\"). <br>The value of department belongs to the id of an item of type Department.</td></tr></table>  <br> <br> <table><tr><th colspan=2>Supported date/datetime formats (24Hrs)</th></tr><tr><td><b>Format</b></td><td><b>Example</b></td></tr><tr><td>YYYY-MM-DD</td><td>1989-03-26</td></tr><tr><td>YYYY/MM/DD</td><td>1989/03/26</td></tr><tr><td>DD-MM-YYYY</td><td>26-03-1989</td></tr><tr><td>DD/MM/YYYY</td><td>26/03/1989</td></tr><tr><td>YYYY-MM-DD''T''hh:mm:ss</td><td>1989-03-26T18:32:38</td></tr><tr><td>YYYY/MM/DD''T''hh:mm:ss</td><td>1989/03/26T18:32:38</td></tr><tr><td>DD-MM-YYYY''T''hh:mm:ss</td><td>26-03-1989T18:32:38</td></tr><tr><td>DD/MM/YYYY''T''hh:mm:ss</td><td>26/03/1989T18:32:38</td></tr><tr><td>YYYY-MM-DD''T''hh:mm:ss.SSS</td><td>1989-03-26T18:32:38.840</td></tr><tr><td>YYYY/MM/DD''T''hh:mm:ss.SSS</td><td>1989/03/26T18:32:38.840</td></tr><tr><td>DD-MM-YYYY''T''hh:mm:ss.SSS</td><td>26-03-1989T18:32:38.840</td></tr><tr><td>DD/MM/YYYY''T''hh:mm:ss.SSS</td><td>26/03/1989T18:32:38.840</td></tr><tr><td>YYYYMMDD</td><td>19890326</td></tr><tr><td>YYYYMMDDhhmmss</td><td>19890326183238</td></tr><tr><td>YYYYMMDDhhmmssSSS</td><td>19880326183238840</td></tr><tr><td>YYYY-MM-DD''T''hh:mm:ss.SSS+/-HH:mm</td><td>1989-03-26T18:32:38.840+05:30</td></tr><tr><td>YYYY-MM-DD''T''hh:mm:ss+/-HH:mm</td><td>1989-03-26T18:32:38+05:30</td></tr></table>.",
                "operationId": "getItemsForManagement",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This parameter accepts a query expression condition that matches the field values. Many such query conditions can be joined using AND/OR operators and grouped with parentheses. The value of query condition follows the format of <i><b>{fieldName} {operator} \"{fieldValue}\"</b></i>. In case of query across type the field names are limited to standard fields (<i>id</i>, <i>type</i>, <i>name</i>, <i>description</i>, <i>slug</i>, <i>translatable</i>, <i>language</i>, <i>createdBy</i>, <i>createdDate</i>, <i>updatedBy</i>, <i>updatedDate</i>, <i>repositoryId</i>, <i>status</i>, <i>channels</i>, <i>collections</i>, <i>tags</i>, <i>isPublished</i>, <i>languageIsMaster</i>, <i>taxonomies</i>). However in case of type specific query the field names are limited to standard fields and user defined fields (except fields of largeText data type). The only values allowed in the operator are <i>eq</i> (Equals), <i>co</i> (Contains), <i>sw</i> (Startswith), <i>ge</i> (Greater than or equals to), <i>le</i> (Less than or equals to), <i>gt</i> (Greater than), <i>lt</i> (Less than), <i>mt</i> (Matches), <i>sm</i> (Similar).<br><b>Example</b>:<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(name eq \"John\")<br><b>Example</b>:<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(type eq \"Employee\" AND name eq \"John\")<br><b>Example</b>:<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(type eq \"Employee\" AND ((name eq \"John\" AND field.age ge \"40\") OR fields.weight gt \"70\"))<br><b>Example</b>:<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(taxonomies.categories.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\" OR (taxonomies.categories.name co \"cat\" AND taxonomies.categories.name co \"red\"))<br><b>Example</b>:<br> https://{cecsdomain}/content/management/api/v1.1/items?q=(taxonomies.categories.nodes.id eq \"9E1A79EE600C4C4BB727FE3E39E95489\" OR taxonomies.categories.nodes.name co \"cars\")",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "description": "Default search query expression, that matches values of the items across all fields.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter is used to control the returned fields in each item in the result. This parameter accepts a comma-separated list of field names or <i>all</i>. These fields will be returned for each items in the result. All the field name are case-sensitive, and users must provide the correct field name in the query. All the user-defined field names should be provided with prefix fields and followed by period (.). When <i>fields</i> is specified as <i>all</i> (case-insensitive), all the standard fields are returned in case of query across types and in case of type specific query, all standard and user fields are returned. This parameter is optional in the query, and by default the result shows only standard fields name, description. The standard fields <i>id</i>, <i>type</i> are always returned irrespective of any field asked. Any incorrect or invalid field name given in the query will throw an error.<br><br><b>Example</b>: This returns standard fields <i>name</i>, user fields <i>state</i> and <i>country</i> of type <i>Address</i> in the search results. <br>https://{cecsdomain}/content/management/api/v1.1/items?q=type eq \"Address\"&fields=fields.state,fields.country <br><br><b>Example</b>: This returns all the attributes for a specific type used in the search results.<br>https://{cecsdomain}/content/management/api/v1.1/items?q=type eq \"Address\"&fields=all<br><br><b>Example</b>: This returns standard fields <i>name</i>, <i>createdBy</i> in the search results for all items across all the types. <br>https://{cecsdomain}/content/management/api/v1.1/items?fields=name,createdBy<br><br><b>Example</b>: This returns all the standard fields in the search results for all items across all the types. <br>https://{cecsdomain}/content/management/api/v1.1/items?fields=all",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "name,description"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "query",
                        "description": "This parameter accepts id of a repository and is used to control the returned results. The result will contain only items belonging to the specified repository. This can also be achieved by specifying the repositoryId (standard field of an item) equals query condition (<i>repositoryId eq \"{repositoryId}\"</i>) as one of the query conditions in the <b>q</b> query parameter. This is an optional parameter and by default returns results from all the repositories.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channelToken",
                        "in": "query",
                        "description": "This parameter accepts channelToken of a channel and is used to control the returned results. The result will contain only items, targeted to the channel that the specified channelToken belongs to. This can also be achieved by specifying the channels (standard field of an item) contains query condition (<i>channels co \"{channelId}\"</i>) as one of the query conditions in the <b>q</b> query parameter. This is an optional parameter and by default returns all the results.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer less than 10000 and is used to control the start index of the result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter accepts a non negative integer and is used to control the size of the result. If offset+limit > 10000, then we treat limit as 10000-offset and gives results.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "format": "int32"
                        }
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "This parameter accepts a boolean flag. If specified as <b>true</b>, then the returned result must include the total result count.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "The orderBy parameter is used to control the order (ascending/descending) of queried items.<br/>This parameter is optional in the query and by default the results are sorted by <i>updatedDate</i> when <i>default</i> parameter is empty. When <i>default</i> parameter has value(s), the results are sorted by the relevance of <i>tags</i> of the items to the default values.<br/><br/> This parameter accepts <i>featured()</i> or field name separated by a colon (:) ,for which the user wants to sort the results and sort order. <br> format : <i><b>orderBy={fieldName}:{asc/desc}</b></i> (*Note : asc stands for ascending and desc for descending. asc and desc are always in lower case.)<br> In a type-specific query, field names can be either standard fields (<i>name</i>, <i>createdDate</i>, <i>updatedDate</i>) user-defined fields (single-valued data types (<i>number, decimal, datetime</i>). But in case of a query across types, only <i>name</i>, <i>createdDate</i> and <i>updatedDate</i> (Standard fields) are allowed. All the user-defined field names should be provided with prefix fields and followed by a period (.). While filtering on <i>suggestedTaxonomies</i> the default sort order will by relevance of the suggestion to the item.<br/><br>The sort order is optional, and by default it is descending. Any incorrect or invalid field name given in the query will be ignored. When <i>featured()</i> is given and <i>default</i> parameter has value(s), the results are sorted by the relevance of <i>tags</i> of the items to the default values<br><br> <b>Example</b> : <i>orderBy=name:asc</i> <br> Returns all the items in the ascending order of name.</td><br/> <b>Example</b> : <i>orderBy=updateDate:asc</i> <br>Returns all the items in the ascending order of updateDate.<br/> <b>Example</b> : <i>orderBy=fields.age:desc</i> <br>Returns all the items in the descending order of age.<br/> <b>Example</b> : <i>orderBy=fields.age</i> <br> Returns all the items in the ascending order of age.<br/> <b>Example</b> : <i>default=apples&orderBy=featured()</i> <br> Returns all the items sorted by the relevance of <i>tags</i> of the items to the apples",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "links",
                        "in": "query",
                        "description": "This parameter accepts a comma-separated list of link names. By default, this parameter gives all the links applicable. Possible values are: <i>self</i>, <i>canonical</i>, <i>describedby</i>, <i>first</i>, <i>last</i>, <i>prev</i>, <i>next</i>",
                        "required": false,
                        "schema": {
[...]
