{
    "openapi": "3.0.0",
    "info": {
        "title": "Content Management",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://samples-oce0001.cec.ocp.oraclecloud.com/content/management/api/v1.1",
            
            "description": "Content Management Api V1.1",
            "x-vb": {
                "authentication": {
                    "authenticated": 
                    {
                        "type": "oauth2_user_assertion",
                        "scope": "https://95358A60C1384C9F96639999E2E78F06.cec.ocp.oraclecloud.com:443/urn:opc:cec:all"
                    }
                },
                "headers": {
                    "X-Requested-With": "XMLHttpRequest"
                },
                "forceProxy": "cors"
            }
        }
    ],
     "paths": {
        "/bulkItemsOperations": {
            "post": {
                "operationId": "postBulkItemsOperations",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostBulkItemsOperationsRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postBulkItemsOperations/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {},
                "x-vb": {
                    "actionHint": "create"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PostBulkItemsOperationsRequest": {
                "type": "object",
                "properties": {
                    "operations": {
                        "type": "object",
                        "properties": {
                            "addToRepository": {
                                "type": "object",
                                "properties": {
                                    "storageProvider": {
                                        "type": "string"
                                    },
                                    "repositoryId": {
                                        "type": "string"
                                    },
                                    "externalIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}