{
    "openapi": "3.0.0",
    "info": {
        "title": "Content Published Api V1.1",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://ocereference-oce0004.cec.ocp.oraclecloud.com/content/published/api/v1.1",
            "description": "Content Published Api V1.1",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "oauth2_user_assertion",
                        "scope": "https://26629BEC35A1421D9D14C82B0E4F2936.cec.ocp.oraclecloud.com:443/urn:opc:cec:all"
                    }
                }
            }
        }
    ],
    "paths": {
        "/items": {
            "get": {
                "operationId": "getItems",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": ""
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "channelToken",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": ""
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "featured()"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItems"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getItems/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany",
                    "headers": {
                        "Accept": "application/json"
                    }
                }
            }
        },
        "/items/{id}": {
            "get": {
                "operationId": "getItemsId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channelToken",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getItemsId2/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetItems": {
                "type": "object",
                "properties": {
                    "hasMore": {
                        "type": "boolean"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "createdDate": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string"
                                        },
                                        "timezone": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "taxonomies": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "language": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            },
                                            "rel": {
                                                "type": "string"
                                            },
                                            "method": {
                                                "type": "string"
                                            },
                                            "mediaType": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "id": {
                                    "type": "string"
                                },
                                "updatedDate": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string"
                                        },
                                        "timezone": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": {
                                    "type": "string"
                                },
                                "slug": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "href": {
                                    "type": "string"
                                },
                                "rel": {
                                    "type": "string"
                                },
                                "method": {
                                    "type": "string"
                                },
                                "mediaType": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetItemsId": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string"
                    },
                    "translatable": {
                        "type": "boolean"
                    },
                    "createdDate": {
                        "type": "object",
                        "properties": {
                            "value": {
                                "type": "string"
                            },
                            "timezone": {
                                "type": "string"
                            }
                        }
                    },
                    "updatedDate": {
                        "type": "object",
                        "properties": {
                            "value": {
                                "type": "string"
                            },
                            "timezone": {
                                "type": "string"
                            }
                        }
                    },
                    "fields": {
                        "type": "object",
                        "properties": {
                            "blog_author": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                },
                                                "rel": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blog_category": {
                                "type": "string"
                            },
                            "blog_content": {
                                "type": "string"
                            },
                            "blog_textposition": {
                                "type": "string"
                            },
                            "blog_image_header": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                },
                                                "rel": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blog_image_ad": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                },
                                                "rel": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blog_image_ad_small": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                },
                                                "rel": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blog_image_thumbnail": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "href": {
                                                    "type": "string"
                                                },
                                                "rel": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blog_textcolor": {
                                "type": "string"
                            }
                        }
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "href": {
                                    "type": "string"
                                },
                                "rel": {
                                    "type": "string"
                                },
                                "method": {
                                    "type": "string"
                                },
                                "mediaType": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}