{
    "openapi": "3.0.0",
    "info": {
        "title": "Documents",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://ocereference-oce0004.cec.ocp.oraclecloud.com/documents",
            "description": "Documents",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "oauth2_user_assertion",
                        "scope": "https://26629BEC35A1421D9D14C82B0E4F2936.cec.ocp.oraclecloud.com:443/urn:opc:cec:all"
                    }
                },
                "forceProxy": "always"
            }
        }
    ],
    "paths": {
        "/web?IdcService=GET_OAUTH_TOKEN": {
            "get": {
                "operationId": "getWebIdcServiceGET_OAUTH_TOKEN",
                "responses": {
                    "default": {
                        "description": "Default response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWebIdcServiceGET_OAUTH_TOKEN"
                                },
                                "examples": {
                                    "vb": {
                                        "externalValue": "./examples/getWebIdcServiceGET_OAUTH_TOKEN/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetWebIdcServiceGET_OAUTH_TOKEN": {
                "type": "object",
                "properties": {
                    "LocalData": {
                        "type": "object",
                        "properties": {
                            "IdcService": {
                                "type": "string"
                            },
                            "StatusCode": {
                                "type": "string"
                            },
                            "StatusMessage": {
                                "type": "string"
                            },
                            "StatusMessageKey": {
                                "type": "string"
                            },
                            "dUser": {
                                "type": "string"
                            },
                            "dUserFullName": {
                                "type": "string"
                            },
                            "expiration": {
                                "type": "string"
                            },
                            "idcToken": {
                                "type": "string"
                            },
                            "localizedForResponse": {
                                "type": "string"
                            },
                            "refreshTokenValue": {
                                "type": "string"
                            },
                            "tokenValue": {
                                "type": "string"
                            }
                        }
                    },
                    "ResultSets": {
                        "type": "object"
                    }
                }
            }
        }
    }
}